<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" [(ngModel)]="credentials.Email" name="Email" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" [(ngModel)]="credentials.Password" name="Password" class="form-control" />
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-primary m">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Login
          </button>
          <a routerLink="../register" class="btn btn-link">Register</a>
          <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
