<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h2>{{isEditMode ? 'Update ' : 'Create a new '}}Item</h2>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Category:</label>
      <select type="text" id="category"
             formControlName="category" class="form-control bg-light">
        <option value="House">House</option>
        <option value="Dorm">Dorm</option>
        <option value="Apartment">Apartment</option>
        <option value="Semi-detached house">Semi-detached house</option>
        <option value="Cottage">Cottage</option>
        <option value="Townhouses">Townhouses</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" id="location"
             formControlName="location" class="form-control bg-light" />
    </div>
    <div class="form-group">
      <label for="rooms">Rooms:</label>
      <input type="number" id="rooms"
             formControlName="rooms" class="form-control bg-light " />
    </div>
    <div class="form-group">
      <label for="area">Area:</label>
      <input type="number" id="area"
             formControlName="area" class="form-control bg-light" />
    </div>
    <div class="form-group">
      <label for="renting">Renting:</label>
      <input type="number" id="renting"
             formControlName="renting" class="form-control bg-light" />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description"
             formControlName="description" class="form-control bg-light" />
    </div>
    <div class="form-group">
      <label for="imageUrl">ImageUrl:</label>
      <input type="text" id="imageUrl"
             formControlName="imageUrl" class="form-control bg-light" />
    </div>
    <br />
    <button class="btn btn-outline-primary" type="submit" [disabled]="itemForm.invalid">{{isEditMode ? 'Update ' : 'Create '}} Item</button>
    <a class="btn btn-outline-secondary" (click)="backToItems()" >Cancel</a>
  </form>

</body>
</html>
